// Version
$mobile-widths-only: "max-width: 767px";
$tablet-widths-min: "max-width: 768px";
$tablet-widths-max: "max-width: 1023px";
$desktop-widths: "min-width: 1024px";
$desktop-big-width: "max-width: 1146px";
$retina: "min-resolution: 2dppx";

// Fonts
$font: "Open Sans", "Arial", sans-serif;

// color
$body-color: #e5e5e5;
$body-other-color: #f6f7f9;
$basic-color: #ffffff;
$basic-other-color: #000000;
$text-other-color: #1f1f1f;
$decorative-color: #0ad9c6;
$background-video-color: #131314;
$link-menu-color: #48494d;
$link-background-color: #f6f6f6;
$button-video-color: #070707;
$border-form-color: #c9ccd4;
$button-close-color: #33363b;
$invalid-form-color: red;
$valid-form-color: green;
